{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "trailingComma": "none",
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "auto"
  }